
html {
    font-size: 16px;
}
.main-content {
    border-top: 0.5px #f5f5f5 solid;
    min-height:70vh;
}
/* Arabic special styles */
body[lang="ar"] .main-content {
    direction: rtl;
}

.header{
    padding:0.5rem;
}


[data-bind-if], [data-bind], [data-bind-for] > * {
    display: none !important;
}


.mid svg {
    width: 300px;
}


.logo-title {
    font-weight: 900;
    font-family: montserrat;
}

.navbar i {
    font-size:1.65rem;
    color:var(--bulma-text-weak);
}


.tabs-content > div {
    display: none;
    padding: 0 2rem;
}

    .tabs-content > div.is-active {
        display: block;
    }

.navbar-end img, .bd-navbar-mobile-icon img {
    width: 2.15rem;
    height: auto;
    max-height: unset;
}

.footer {
    background-color: var(--bulma-scheme-main);
    padding: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5rem;
    background: var(--bulma-background);
    color: var(--bulma-text-weak);
}
.footer i{
    font-size:1.5rem;
    color:var(--bulma-text-weak);
}
.post{
    max-width:900px;
    margin:0 auto;
    padding: 2rem;
}

.post-header{
    display:none;
}

.post-content h1 {
    padding: 2rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    letter-spacing: 0.25rem;
}

.post-content h2 {
    padding: 1rem 1rem 0.5rem 0rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.post-content p {
    line-height:2rem;
}



@media screen and (max-width: 744px) {
    html {
        font-size: 12px;
    }
    .post{
        padding:1rem;
    }
}
